.env
.DS_Store
.vscode

__pycache__/
*.pyc
*.log



other_files/
plaid_csv_discard/
data_discard/
other_discard/
script_discard/

btm_toolkit.py
etl_claude.py
claude_stats_gen.py
jupyter_file.ipynb
mockbank_client.py
mockbank_info.txt
notes.txt
prompt.txt
settings.json
stack_models.py



